
releases/BIM7AA_TypeCode_V2.0.xml
releases/BIM7AA_TypeCode_V2.1.xml
releases/BIM7AA_TypeCode_V3.1.xml
releases/BIM7AA_TypeCode_V3.2.xml
releases/BIM7AA_TypeCode_V3.0.xml
releases/BIMTypeCode_AC.xml
releases/BIMTypeCode_AC_Extended.xml
